<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_tayo_taxi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="TayoTaxi"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 네이버 지도용 클라이언트 ID -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_client_id" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>